input[type="checkbox"]:checked 
{
  background-color: rgb(103, 189, 107);
  border: none;
  box-shadow: none;
}
input[type="checkbox"]:focus {
  box-shadow: none;
}

input[type="text"]:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}
input[type="email"]:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}
input[type="password"]:focus{
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
 
}
/* .singUp_btn:focus{
  box-shadow: none;
  background-color: green;
} */
.singUp_btn:active{
  box-shadow: white;
  border: none;
}
.login{
  cursor:pointer;
}

